// Default grid template
.grid-container {
  @include make-grid-max-widths();

  @include make-grid();
  @include build-grid-cols();
  @include make-grid-breakpoints();
}

// Default grid fluid template (width)
.grid-container-fluid {
  @include make-grid-fluid();

  @include make-grid();
  @include build-grid-cols();
  @include make-grid-breakpoints();
}

.custom-grid {
  @include make-grid(var(--cols-number), var(--gap));
}

// Defining a grid item
// The grid item is only a div with a specific padding
.grid-item {
  box-sizing: border-box;
  padding: $grid-item-padding;

  &.no-padding {
    padding: 0;
  }
}
