%grid {
  display: grid;
  width: 100%;
  height: 100vh;
}

@each $layout, $type in $grid-layouts {
  .layout-#{$layout} {
    @include make-layout(map-get($type, "grid-template-rows"),map-get($type, "grid-template-columns"),map-get($type, "grid-template-areas"));
  }
}
