%grid {
  display: grid;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

@each $layout, $type in $grid-layouts {
  .layout-#{$layout} {
    @extend %grid;
    grid-template-rows: map-get($type, "grid-template-rows");
    grid-template-columns: map-get($type, "grid-template-columns");
    grid-template-areas: map-get($type, "grid-template-areas");

    @include build-header();
    @include build-nav();
    @include build-main();
    @include build-footer();
  }
}
