//
// BeeGrid
//
//

// stylelint-disable
$white:       #fff !default;

// Dimensions
$header-height: minmax(56px, auto) !default;
$footer-height: minmax(max-content, 50px) !default;
$sidebar-width: 250px !default;
$navbar-height: 56px !default;

// Grid
$grid-columns-number: 12 !default;

// Grid breakpoints
//
// Define the maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0px,
  sm: 480px,
  md: 960px,
  lg: 1280px,
  xl: 1440px
) !default;

// Grid widths
$grid-widths: (
  sm: 640px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px
) !default;

// Define the grid gap dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints-gap: (
  xl: 1.2rem,
  lg: 1.1rem,
  md: 1rem,
  sm: .5rem,
  xs: .4rem
) !default;

// Define the grid gap dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints-grid: (
  xl: $grid-columns-number,
  lg: $grid-columns-number,
  md: ceil($grid-columns-number / 2),
  sm: ceil($grid-columns-number / 3),
  xs: $grid-columns-number / $grid-columns-number
) !default;

$grid-layouts: (
  1: (
    grid-template-areas:
      "head head"
      "main main",
    grid-template-rows: $header-height 1fr
  ),
  2: (
    grid-template-areas:
      "head head"
      "nav main",
      grid-template-rows: $header-height 1fr,
      grid-template-columns: $sidebar-width 1fr
  ),
) !default;

$grid-breakpoints-layouts: (
  md: (
    1: (
      grid-template-areas:
        "head head"
        "main main",
      grid-template-rows: $header-height 1fr
    ),
    2: (
    grid-template-areas:
      "head head"
      "nav main",
      grid-template-rows: $header-height 1fr,
      grid-template-columns: $sidebar-width 1fr
  ),
  )
) !default;

@include _check-ascending($grid-breakpoints, "$grid-breakpoints");
@include _check-ascending($grid-widths, "$grid-widths");
@include _check-even($grid-columns-number, "$grid-columns-number");
