<div class="docs-navbar-title p-1">
  <h2>{{ site.title }}</h2>
  <small>{{ site.current_version }}</small>
</div>
<div class="docs-navbar-content p-1">
  <ul>
    <li><a class="{% if page.layout == "docs" and page.title == "Introduction" %}active{% endif %}" href="{{ site.baseurl }}/documentation/{{ site.docs_version }}/introduction/">Introduction</a></li>
    <li><a class="{% if page.layout == "docs" and page.title == "Download" %}active{% endif %}"  href="{{ site.baseurl }}/documentation/{{ site.docs_version }}/download/">Download</a></li>
    <li><a class="{% if page.layout == "docs" and page.title == "Usage" %}active{% endif %}"  href="{{ site.baseurl }}/documentation/{{ site.docs_version }}/usage/">Usage</a></li>
    <li><a class="{% if page.layout == "docs" and page.title == "Layouts" %}active{% endif %}"  href="{{ site.baseurl }}/documentation/{{ site.docs_version }}/layouts/">Layouts</a></li>
    <li><a class="{% if page.layout == "docs" and page.title == "Customize" %}active{% endif %}"  href="{{ site.baseurl }}/documentation/{{ site.docs_version }}/customize/">Customize</a></li>
  </ul>
</div>

