<div class="grid-container-fluid cols-2 cols-sm-2 cols-md-2 cols-lg-2 cols-xl-2 mb-0">
  <div class="grid-item p-0 align-self-start align-self-center">
    <a href="#" class="button mobile-button --toggler-menu">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
    </a>
    <a href="https://davidedantonio.github.io/bee-grid">
      <img class="brand" src="{{ site.baseurl }}/assets/images/beegrid_icon_white.png" />
    </a>
    {% include menu.html %}
  </div>
  <div class="grid-item p-0 align-self-center justify-self-end">
    {% include actions.html %}
  </div>
</div>
