.page-title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: $theme-color-default;
  line-height: 4rem;
}

.page-description {
  margin-bottom: 3rem;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.docs-page {
  h2 {
    margin-top: 2rem;
  }

  .highlight{
    margin-bottom: 1rem;
  }
}
