.master-head {
  h1 {
    font-size: 4rem;
    font-weight: 300;
  }

  @each $color-name, $color-value in $colors {
    .color-#{$color-name} {
      color: $color-value;
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}

.master-widget {
  box-sizing: border-box;
  padding: 1rem;
  background-color: #f1f3f4;

  h2 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 300;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}
