<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119601702-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119601702-1');
    </script>

    <section class="layout-2">
      <header class="docs-header docs-background-teal">
        {% include header-content.html %}
      </header>
      <nav class="docs-navbar" data-navbar>
        {% include docs-sidebar.html %}
      </nav>
      <main class="docs-page overflow-y-auto p-3">
        <div class="page-title">{{ page.title }}</div>
        <p class="page-description">{{ page.description }}</p>
        {{ content }}
      </main>
    </section>
    <script type="text/javascript" src="{{ site.baseurl }}/dist/js/navbar.min.js"></script>
  </body>
</html>
