<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <section class="layout-2">
      <header class="docs-header docs-background-teal">
        {% include header-content.html %}
      </header>
      <nav class="docs-navbar">
        {% include docs-sidebar.html %}
      </nav>
      <main class="docs-page overflow-y-auto p-3">
        <div class="page-title">{{ page.title }}</div>
        <p class="page-description">{{ page.description }}</p>
        {{ content }}
      </main>
    </section>
  </body>
</html>
