<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="layout-1">
      <header class="docs-header docs-background-teal">
        <div class="grid-container-fluid cols-sm-1 cols-xs-1 cols-md-2 cols-lg-2 cols-xl-2 mb-0">
          {% include header-content.html %}
        </div>
      </header>
      <main class="overflow-y-auto">
        {{ content }}
        <footer>
          {% include footer.html %}
        </footer>
      </main>
    </div>
  </body>
</html>
